<!DOCTYPE html PUBLIC "">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>AxioCouriers</title>
	<link rel="stylesheet" href="../styles/styles.css"/>
	<link rel="stylesheet" href="../styles/create_dbobj.css"/>
	<script type="text/javascript" src="../javascript/jquery-3.2.1.js"></script> 
	<script type="text/javascript" src="../javascript/create_dbobj.js"></script> 
	
</head>
<body>
	<div id="general_div"> 
		<div id="head_top" class="">
			<div id="logo_text">Оборудование курьеров Axiomus</div>
			<a href="./" style="text-decoration: none">
				<div id="add_object">Главная</div>
			</a>
		</div>
		<div class="body_div">
			<div class="add_object">
				<div id="top_a">
					<div id="top_b">Добавление курьера</div>
				</div>
				<div class=body_aa>
					<div class="body_b">&nbsp ФИО курьера</div>
					<div class="body_c">
						<input type="text" name="name_courier" class="inp_add" value="">
					</div>
				</div>
				<div class=body_a>
					<div class="body_b">&nbsp ИП</div>
					<div class="body_c">
						<select type="text" name="ind_p" class="inp_add" value="">
							<option >Шорохов</option>
							<option >Буров</option>
							<option >Шакурова</option>
							<option >Шакуров</option>
						</select>	
					</div>
				</div>
				<div class=body_a>
					<div class="body_b">&nbsp Дата создания</div>
					<div class="body_c">
						<input type="date" name="create_date" class="inp_add date" value="">
					</div>
				</div>
				<div class=body_a>
					<div class="body_b">&nbsp Наименование планшета</div>
					<div class="body_c">
						<select type="text" name="model_tab" class="inp_add" value="">
							<option ></option>
							<option >Lenovo A3500</option>
							<option >Lenovo A3000</option>
							<option >Oysters T72ER</option>
							<option >Beeline TAB2</option>
							<option >HUAWEI MediaPadT1 7.0</option>
						</select>
					</div>
				</div>
				<div class=body_a>
					<div class="body_b">&nbsp SN планшета</div>
					<div class="body_c">
						<input type="text" name="sn_tab" class="inp_add" value="">
					</div>
				</div>
				<div class=body_a>
					<div class="body_b">&nbsp Наименование ридера</div>
					<div class="body_c">
						<select type="text" name="model_rider" class="inp_add" value="">
							<option ></option>
							<option >P15</option>
							<option >C15</option>
						</select>
					</div>
				</div>
				<div class=body_a>
					<div class="body_b">&nbsp SN ридера</div>
					<div class="body_c">
						<input type="text" name="sn_rider" class="inp_add" value="">
					</div>
				</div>
				<div class=body_a>
					<div class="body_b">&nbsp Тип автокурьера</div>
					<div class="body_c">
						<select type="text" name="type_courier" class="inp_add" value="">
							<option ></option>
							<option >Личный авто</option>
							<option >Гранта</option>
							<option >Соболь</option>
						</select>
					</div>
				</div>
				<div class="body_abс">
					<label><input type="checkbox" id="add_tab" name="add_tab" class="inp_radio" > Использовать имеющийся планшет</label>
				</div>
				<div class=body_ab>
					<div class="body_b">&nbsp Прикрепить планшет</div>
					<div class="body_c">
						<select type="text" name="choice_tab" class="inp_add inp_add_tab" value="">
						</select>	
					</div>
				</div>
				<div class="body_abс">
					<label><input type="checkbox" name="add_rider" class="inp_radio" value=""> Использовать имеющийся ридер</label>
				</div>
				<div class=body_ab>
					<div class="body_b">&nbsp Прикрепить ридер</div>
					<div class="body_c">
						<select type="text" name="choice_rider" class="inp_add inp_add_rider" value="">
						</select>	
					</div>
				</div>
				<div class="btn">Сохранить</div>
			</div>
		</div>
	</div>
</body>
</html>