<!DOCTYPE html PUBLIC "">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>AxioCouriers</title>
	<link rel="stylesheet" href="../styles/styles.css"/>  
</head>
<body>
	<div>
		<div id="head_top" class="">
			<div id="logo_text">Оборудование курьеров Axiomus</div>
			<a href="./create_dbobject" style="text-decoration: none">
				<div id="add_object">Добавить</div>
			</a>
		</div>	
	</div>
</body>
</html>
